@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

svg {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    text-anchor: middle;
    font-family: "Abril Fatface";
}

svg rect {
    fill: white;
}

svg > rect {
    mask: url(#mask);
    fill: rgba(20, 20, 20);
}

@media (max-width: 550px) 
{
    svg {
        font-size: 18vw;
    }
}

.github {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696969;
}
